<% if (errors.length > 0) { %>
<div class="alert alert-danger alert-dismissible" id="flash_message">
    <button data-dismiss="alert" class="close" type="button">
        &times;
    </button>
    <%= errors %>
</div>
<% } %>