<% if (success.length > 0) { %>
<div class="alert alert-success alert-dismissible" id="flash_message">
    <button data-dismiss="alert" class="close" type="button">
        &times;
    </button>
    <%= success %>
</div>
<% } %>