<h1 class="text-center custom-care-font"><span class="custom-zone-font">ISSUE TRACKER</span></h1>

<div id="menu">
    <!--<ul id="coolMenu">-->
        <!--<li><a class="active link" href="#">Users</a></li>-->
        <!--<li><a class="link" href="/departments">Departments</a></li>-->
        <!--<li id="dropdown" >-->
            <!--<a href="#">All Issues</a>-->

        <!--</li>-->
        <!--<li><a class="link" href="/logout">Logout</a></li>-->
    <!--</ul>-->
    <ul class="nav nav-pills">
        <li class="active link"><a href="/users">Users</a></li>
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                Issues <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#">All Issues</a></li>
                <li><a href="#">My Issues</a></li>
                <li><a href="#">Assigned Issues</a></li>
            </ul>
        </li>
        <li class="link"><a href="/departments">Departments</a></li>
        <li class="link"><a href="#">Logout</a></li>

    </ul>
</div>


<!--<div id="menu2">-->
<!--<ul class="drop_menu">-->
    <!--<li><a href='#'>Link 1</a>-->

    <!--</li>-->
    <!--<li><a href='#'>Link 2</a>-->
        <!--<ul>-->
            <!--<li><a href='#'>Sub Link 1</a></li>-->
            <!--<li><a href='#'>Sub Link 2</a></li>-->
            <!--<li><a href='#'>Sub Link 3</a></li>-->
            <!--<li><a href='#'>Sub Link 4</a></li>-->
        <!--</ul>-->
    <!--</li>-->
    <!--<li><a href='#'>Link 3</a>-->

    <!--</li>-->
<!--</ul>-->
<!--</div>-->
<br/>
