<h1 class="text-center custom-care-font"><span class="custom-zone-font">ISSUE TRACKER</span></h1>

<div id="menu">

    <ul class="nav nav-pills" style="display: flex;justify-content: center">
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                Issues <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#">All Issues</a></li>
                <li><a href="#">My Issues</a></li>
                <li><a href="#">Assigned Issues</a></li>
            </ul>
        </li>
        <li class="link"><a href="/logout">Logout</a></li>

    </ul>
</div>
<br/>
