<!DOCTYPE html>
<html lang="en">
<head>
    <title><%- typeof title != "undefined" ? title : "Issue Tracker" %></title>
    <!-- <link rel="stylesheet" href="/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">
    <%- block('style').toString() %>
</head>

<body>
    <section>
        <%- body -%>
    </section>

    <!-- /container -->
    <% include ./partials/footer %>
    <% include ./partials/javascriptOnly %>
    <%- block('body').toString() %>
</body>
</html>
