<% layout('layout') -%>

<% block('style').append('<link type="text/css" href="#">') %>
<div class="container">
    <div class="row">
        <% include ../partials/header %>
        <div class="text-center" style="margin-top: 50px">
                <h1>Access Denied</h1>
        </div>
    </div>
</div>

<% block('body').append("<script src='#'></script>") %>

