<% layout('layout') -%>

<% block('style').append('<link type="text/css" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css">') %>
<div class="container">
    <div class="row">
        <% include ../partials/header %>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading panel-head">Issues</div>
            <div class="panel-body">
                <!-- Table -->

                <% if (issues.length > 0) {%>
                <table class="table table-striped table-bordered" id="issues_table" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th></th>

                    </tr>
                    </thead>
                    <tbody>
                    <% issues.forEach(function(issue) { %>
                    <tr class="tr-link">
                        <a href="#">
                            <td>
                                <p class="issue-title"><b><%= issue.issueTitle%></b></p>
                                <% if (issue.issueStatus == 'open') {%>
                                <span class="label label-success">Open</span>
                                <% } else if(issue.issueStatus == 'in progress'){%>
                                <span class="label label-info">In Progress</span>
                                <% } else {%>
                                <span class="label label-default">Closed</span>
                                <% }%>
                                <p class="issue-details">
                                    <span>opened <%= issue.openedOn %></span>&nbsp;&nbsp;
                                    <span>by <%= issue.createdByName %></span>&nbsp;&nbsp;
                                    <span>assigned to <%= issue.issueDeptName %> department</span>&nbsp;&nbsp;
                                </p>
                            </td>
                        </a>

                    </tr>
                    <% }); %>
                    </tbody>
                </table>
                <% } else {%>
                <table class="table" width="100%" >
                    <tr>
                        <td>
                            <div class="panel-head">No Issue</div>
                        </td>
                    </tr>
                </table>
                <% } %>

            </div>
        </div>
    </div>
</div>

<% block('body').append("<script src='https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js'></script>") %>
<% block('body').append("<script src='https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js'></script>") %>
<% block('body').append("<script src='/js/users.js'></script>") %>
<% block('body').append("<script>jQuery(document).ready(function() {$('#issues_table').DataTable();setTabActive('[href=\"/issues\"]');}) </script>") %>

